#full{
    height:90%;
}
#hdr{
    width:100%;
    text-align:center;
    height:5%;
    margin-bottom:2%;
}
#hdr h1{
    /*margin-bottom:3%;*/
}
#graphcontainer{
    display:inline-block;
    float:left;
    width:100%;
    height:100%;
}
.svg-container {
    display: inline-block;
    position: relative;
    float:left;
    width: 100%;
    height:100%;
    /*padding-bottom: 100%; aspect ratio */
    vertical-align: top;
    overflow: hidden;
    border: solid black 1px;
}
.button-RA-cont{
    position: absolute;
    height: 10%;
    top:50%;
}
.button-RA-cont img{
    height:100%;
    cursor:pointer;
}
.buttons-container{
    width:auto;
    display: inline-block;
    position: relative;
    float:left;
}
.button-cont, .numbers {
    /*height:5%;*/
    float:left;
    display: inline-block;
}
.button-cont{
    height:5%;
    width:auto;
}
.button-cont img{
    height:100%;
}
.numbers{
    margin-left:10px;
    margin-right:10px;
}
#div-z-down{
    float:left;
}
#div-z-up{
    float:right;
}
.button-cont{
    float:left;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.dot {
  stroke: #000;
}*/

.axis-label{
    font-size:1.5em;
}

.tick line {
    opacity:1;
}