#full{
    height:90%;
}
#hdr{
    width:100%;
    text-align:center;
    height:5%;
    margin-bottom:2%;
}
#hdr h1{
    /*margin-bottom:3%;*/
}
#graphcontainer{
    display:inline-block;
    float:left;
    width:100%;
    height:100%;
}
.svg-container, .buttons-container, .numbers {
    display: inline-block;
    position: relative;
    float:left;
    width: 100%;
    height:100%;
    /*padding-bottom: 100%; aspect ratio */
    vertical-align: top;
    overflow: hidden;
    border: solid black 1px;
}
.buttons-container, .numbers {
    height:auto;
}
#div-z-down{
    float:left;
}
#div-z-up{
    float:right;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.dot {
  stroke: #000;
}*/

.axis-label{
    font-size:1.5em;
}

.tick line {
    opacity:1;
}